In [1]:
import numpy as np
import pandas as pd

Importando os data frames:

In [1]:
df_DailyLife = pd.read_csv('./european-union-lgbt-survey-2012/LGBT_Survey_DailyLife.csv')
df_Discrim = pd.read_csv('./european-union-lgbt-survey-2012/LGBT_Survey_Discrimination.csv')
df_RightsAwar = pd.read_csv('./european-union-lgbt-survey-2012/LGBT_Survey_RightsAwareness.csv')
df_SubsetSize = pd.read_csv('./european-union-lgbt-survey-2012/LGBT_Survey_SubsetSize.csv')
df_TransSpecQ = pd.read_csv('./european-union-lgbt-survey-2012/LGBT_Survey_TransgenderSpecificQuestions.csv')
df_ViolHaras = pd.read_csv('./european-union-lgbt-survey-2012/LGBT_Survey_ViolenceAndHarassment.csv')
df_HDI = pd.read_csv('fix_hdi.csv')

NameError: name 'pd' is not defined

Função que cria novos data frames com as  as perguntas feitas e suas possíveis respostas, para facilitar a análise posterior:

In [ ]:
def group_question(df, df_name):
    df_quest = df.copy()
    df_quest.drop(['CountryCode', 'subset', 'percentage', 'notes'], axis=1, inplace=True)
    df_quest = df_quest.groupby(['question_code', 'answer'])
    df_quest.first().reset_index().to_csv('questions/' + df_name + 'Quest.csv')
    return df_quest.first()

Chamando a função para os data frames:

In [ ]:
group_question(df_DailyLife, 'DailyLife')

In [ ]:
group_question(df_Discrim, 'Discrim')

In [ ]:
group_question(df_RightsAwar, 'RightsAwar')

In [ ]:
group_question(df_TransSpecQ, 'TransSpecQ')

In [ ]:
group_question(df_ViolHaras, 'ViolHaras')
df_quest = df_ViolHaras.copy()
df_quest.drop(['CountryCode', 'subset', 'percentage', 'notes'], axis=1, inplace=True)
df_quest = df_quest.groupby(['question_code', 'answer'])
df_quest.first().reset_index().to_csv('questions/ViolHarasQuest.csv')
df_quest.first()

Data frame com quantidade de pessoas entrevistadas por país com separação pelos respectivos grupos:

In [ ]:
df_SubsetSize

In [54]:
df_HDI.head()

,(2017),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,168,Afghanistan,..,..,..,..,..,..,..,..,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,68,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,85,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,35,Andorra,..,..,..,..,..,..,..,..,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,147,Angola,..,..,..,..,..,..,..,..,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581

In [44]:
# import csv
# import string

# input_file = open('human_development_index.csv', 'r')
# output_file = open('fix_hdi.csv', 'w')
# specials = '"'

# for line in input_file:
#     new_line = str.replace(line,specials,'')
#     output_file.write(new_line)
    
# input_file.close()
# output_file.close()